.experience {
  &__company {
    border-left: 0.5rem solid var(--secondary-medium);
    margin: 0 2.25rem;
    padding: 2rem 3rem 0;
    position: relative;

    &:last-of-type {
      border-image: linear-gradient(
          to bottom,
          var(--secondary-medium),
          var(--secondary-medium),
          var(--secondary-medium),
          var(--secondary-medium),
          var(--secondary-medium),
          rgba(0, 0, 0, 0)
        )
        1 100%;
    }

    &::before {
      content: '';
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      background-color: var(--secondary);

      position: absolute;
      top: 2rem;
      left: 0;
      transform: translateX(-60%);
    }
    & + & {
      padding-top: 4rem;
      &::before {
        top: 4rem;
      }
    }
  }
}

.company {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
  column-gap: 2rem;
  row-gap: 1rem;

  &__name {
    color: inherit;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  &__position {
    font-style: italic;
  }
  & > * {
    grid-column: 2 / -1;
  }
  &__time {
    font-size: 1.4rem;
    grid-column: 1 / 2;
    display: flex;
    & > * + * {
      margin-left: 3rem;
    }
  }

  ul {
    padding-left: 2rem;
    list-style: initial;
  }
}
